body{
  background-color: black;

  .bg-primary {
    background-color: #6c6c6c !important;
    color: #b0b0b0;
  }
  
  p{
    color: #b0b0b0;
  }

  h4{
    background-color: #1a1a1a;
    color: #b0b0b0;
    width: fit-content;
  }

  h1{
    color: #b0b0b0;
  }
}